/* تنسيق الـ header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #060332;
  position: relative;
}

.brand-logo {
  display: flex;
  align-items: center;
}

.brand-logo img {
  height: 60px;
  margin-right: 15px;
}

.brand-logo span {
  font-size: 1.8rem;
  font-weight: bold;
  background: linear-gradient(135deg, #1fc9c0, #00e68a, #b6c235);
  color: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 0.3s ease;
  background-clip: text;
  -webkit-background-clip: text;
}

.brand-logo span:hover {
  color: #5a1fc9;
}

.wallet-button {
  margin-left: auto;
}

.wallet-button .wallet-adapter-button {
  display: flex;
  align-items: center;
  background: linear-gradient(135deg, #1fc9c0, #00e68a, #b6c235);
  color: #0c0b0b;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 1rem;
  transition: background-color 0.3s;
  cursor: pointer;
  border: none;
}

.wallet-button .wallet-adapter-button:hover {
  background-color: #8B80FF;
}

/* تنسيق زر القائمة القابلة للطي (الهامبرغر) */
.menu-toggle {
  display: none;
  font-size: 1.8rem;
  color: #fff;
  cursor: pointer;
}

/* تنسيق قائمة التنقل */
.nav-links {
  display: flex;
  gap: 20px;
  border: 2px solid #f7fafa; /* إضافة حدود */
  border-radius: 8px;
  padding: 5px 15px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #1ee169;
}

/* تحسينات التوافق مع الشاشات الصغيرة */
@media (max-width: 768px) {
  .header {
    flex-direction: row;
    align-items: center;
  }

  .brand-logo {
    display: flex;
    align-items: center;
  }

  .wallet-button {
    order: 2; /* اجعل زر المحفظة في أقصى اليمين */
    margin-left: auto;
  }

  /* زر القائمة القابلة للطي يظهر فقط على الشاشات الصغيرة */
  .menu-toggle {
    display: block;
    margin-left: 10px;
    order: 1; /* اجعل زر الهامبرغر في أقصى اليسار */
  }

  /* إخفاء قائمة التنقل افتراضيًا على الشاشات الصغيرة */
  .nav-links {
    display: none;
    flex-direction: column;
    gap: 10px;
    background-color: #060332;
    width: 100%;
    padding: 10px 0;
    position: absolute;
    top: 60px;
    left: 0;
  }

  /* عرض القائمة عندما يكون زر القائمة نشط */
  .nav-links.active {
    display: flex;
    z-index: 1000;
  }

  .nav-link {
    font-size: 1rem;
    padding: 5px 20px;
    width: 100%;
    text-align: left;
  }
}

/* توسيط قائمة التنقل على الشاشات الكبيرة */
@media (min-width: 769px) {
  .header {
    justify-content: space-around;
  }

  .nav-links {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
